body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Helvetica,Arial,sans-serif;
}

p {
  margin: 0;
}

h1, h2 {
  text-transform: capitalize;
  margin: 0;
}

input[type="text"] {
  display: block;
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  padding: 10px;
  border: solid 5px #c9c9c9;
  transition: border 0.3s;
}
input[type="text"]:focus {
  outline: none;
}

input[type="text"]:focus,
input[type="text"].focus {
  border: solid 5px #969696;
}

select {
   border: 1px solid #AAA;
   color: #555;
   font-size: 1rem;
   overflow: hidden;
   padding: 5px 10px;
   width: 249px;
}

.required-text {
  color: red;
  font-size: 1rem;
}

.form-box {
  border: 1px solid black;
  padding: 20px;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}

.form-question {
  margin-right: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.form-input {
  display: flex;
  justify-content: flex-start;
}

.form-submit {
  display: flex;
  align-self: center;
  padding: 10px 15px 11px;
  font-size: 1rem;
  background-color: #57d6c7;
  font-weight: bold;
  text-shadow: 1px 1px #57D6C7;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #57D6C7;
  cursor: pointer;
}

.answer {
  border: 1px solid black;
  background-color: #D3FCAD;
  padding: 20px;
  margin-top: 20px;
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.error {
  background-color: #FA4B4C;
  color: #FFFFFF;
}

.answer-image {
  height: 40px;
  margin-right: 20px;
}
